body {
    background-image: url("images/kitchen-inprog-blue.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* font-family: 'MS Gothic'; */
    /* color: white; */

    /**/
    /*background-color: white;
    color: black;
    font-family: 'MS Gothic';*/
}

.navbar {
    color: green;
    background-color: black
}