html {
    position: relative;
    min-height: 100%;
  }

body {
    margin-top: 60px;
    background-color:whitesmoke ;
    margin-bottom: 60px;
    
}

.navbar {
    /* border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5); */
    color: green;
    background-color: black
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

h2 {
    text-align: center
}

h3 {
    text-align: center
}


.carousel-inner>.item>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    height: 300px;
    max-height: 300px 
}



#section-contact-us{
    /* background-color: yellow; */
    /* padding-top: 50px;
    padding-bottom: 50px; */
    text-align: center
}


.footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    text-align: center;
    /* background-color: #f5f5f5; */
    background-color: black;
  }



/*  LIGHTBOX STUFF */
.thumbnail {margin-bottom:6px;}
.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}



/*  FILTER GALLERY STUFF  */

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    /* float: left;
    width: 33.33%; */
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}
