body {
    margin-top: 60px;
    background-color:beige;
}

.navbar {
    /* border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5); */
    color: green;
    background-color: black
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

h2 {
    text-align: center
}

h3 {
    text-align: center
}

#myTestimonials{
    border: solid
}
.carousel-inner>.item>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto
}

#section-team {
    background-color: teal;
}

/* .carousel-indicators{
    background-color: teal
} */

#myTestimonials .carousel-indicators li {
    background: #c0c0c0;
  }
  /* active indicator */
#myTestimonials .carousel-indicators .active {
    background: #333333;
    height:10px;
    width:10px;
    margin-bottom:1px;
  }

  #myTestimonials .carousel-control .glyphicon{ 
    background: #333333
    
  }

.section-testimonial-quote{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 100px;
}
